<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<form name="form" th:action="@{/okky}" method="post">
  <div>
      <input type="text" name="A">
      <input type="text" name="B">
      <input type="text" name="C">
  </div>
  <div>
      <input type="text" name="A">
      <input type="text" name="B">
      <input type="text" name="C">
  </div>
  <div>
      <input type="text" name="A">
      <input type="text" name="B">
      <input type="text" name="C">
  </div>
  <button type="submit">Submit</button>
</form>
</body>
</html>
